@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<input @bind="numberToSend" />
<button type="submit">Submit</button>

<Increment NumberToIncrement="@numberToSend"></Increment>

@code {
    int numberToSend;
}